services:
  iris:
    build: .
    restart: always
    ports:
      - 52774:52773
    volumes:
      - ~/iris.key:/usr/irissys/mgr/iris.key
      - ./:/home/irisowner/dev/git-source-control/
    command:
      - -a
      - iris session iris -U%SYS '##class(Security.Users).UnExpireUserPasswords("*")'
