<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="git-source-control.ZPM">
    <Module>
      <Name>git-source-control</Name>
      <Version>2.3.0-oauth.1</Version>
      <Description>Server-side source control extension for use of Git on InterSystems platforms</Description>
      <Keywords>git source control studio vscode</Keywords>
      <Packaging>module</Packaging>

      <!-- Extension source (classes/include) -->
      <Resource Name="SourceControl.Git.PKG" Directory="cls" />
      <Resource Name="SourceControl.Git.INC" Directory="inc" />
      <Resource Name="%zpkg.isc.sc.git.PKG" Directory="cls" FilenameTranslateIdentifier="%." FilenameTranslateAssociator="_/" />

      <!-- Unit tests -->
      <UnitTest Name="/test" Package="UnitTest.SourceControl.Git" />

      <!-- If building in developer mode, this will build the web UI. -->
      <Invoke Class="SourceControl.Git.Build" Method="BuildUIForDevMode" Phase="Compile">
        <Arg>#{..DeveloperMode}</Arg>
        <Arg>#{..Root}</Arg>
      </Invoke>

      <!-- Pages for the Git menu in Studio/VSCode - moved to /isc/studio/usertemplates -->
      <!-- Can't call the folder git-source-control because this causes errors in CSP compliation! -->
      <FileCopy Name="csp/oauth.csp" Target="${libdir}../devuser/studio/templates/gitsourcecontrol/oauth.csp" />
      <FileCopy Name="csp/gitprojectsettings.csp" Target="${libdir}../devuser/studio/templates/gitsourcecontrol/gitprojectsettings.csp" />
      <FileCopy Name="csp/pull.csp" Target="${libdir}../devuser/studio/templates/gitsourcecontrol/pull.csp" />
      <FileCopy Name="csp/webuidriver.csp" Target="${libdir}../devuser/studio/templates/gitsourcecontrol/webuidriver.csp" />
      <FileCopy Name="git-webui/release/share/git-webui/webui/" Target="${libdir}../devuser/studio/templates/gitsourcecontrol/" Overlay="1" />

      <Invoke Class="SourceControl.Git.Utils" Method="OutputConfigureMessage" />
      <Invoke Class="SourceControl.Git.Utils" Method="Localize" />
      <Invoke Class="SourceControl.Git.Utils" Method="ConfigureWeb" />
      <Invoke Class="SourceControl.Git.Utils" Method="CheckInitialization" />
      
      <Invoke Class="SourceControl.Git.Utils" Method="ResetSourceControlClass" Phase="Unconfigure" />
    </Module>
  </Document>
</Export>
